/* 🎨 Cores padrão */
:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;   /* Texto mais claro para melhor contraste */
    --accent-color: #b98aa2; /* Cor de destaque */

    --progress-bar-color: #8A2BE2;
  }
  
  /* 🌍 Corpo geral */
  body {
    text-align: justify;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  /* 🔗 Links */
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #83425f;
  }
  
  /* 📄 Wrapper dos conteúdos (caixa geral) */
  .resume-wrapper-inner {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.8);
  }
  
  /* 🏷️ Títulos das seções principais */
  .resume-section-title {
    color:  #805663;
  }
  
  /* 🟪 Títulos dentro das experiências */
  h3.resume-position-title {
    color:  #b8bacc;
  }
  h4.resume-timeline-item-desc-heading {
    color:  #7c536a;
  }
  
  /* 🟦 Títulos das colunas laterais */
  .resume-skills-cat {
    color:  #b8bacc;
  }
  .resume-skill-name {
    color: #797778; /* 🔥 Cor das skills */
}
  .resume-lang-name {
    color:  #b8bacc;
  }
  
  /* 📜 Listas e itens */
  li {
    color: var(--text-color);
  }
  
  p {
    color:  #dadada;
  }
  
  div {
    text-align: justify;
    color: var(--text-color);
  }
  
  /* 🏷️ Badges (as tags de skills e tecnologias) */
  .badge {
    background-color:  #79488d;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px rgba(80, 80, 80, 0.329);
    color: rgb(37, 37, 37);
  }
  
  /* 📊 Barras de afinidade (skills) */
  .progress-bar {
    background-color: #79488d;

  }
  
  /* 📦 Cards das experiências (Timeline) */
  .resume-timeline-item {
    background-color: #111010;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
  }
  

  .social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
    z-index: 1000;
}

.social-icons a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #8A2BE2;
}

.gif-container {
  width: 100%;                /* Preenche 100% da largura da tela */
  max-height: auto;           /* Altura proporcional */
  display: block;
  position: relative;         /* 🔥 Parte do fluxo da página, NÃO fixo no fundo */
  overflow: hidden;
}

.gif-container img {
  width: 100%;                /* 🔥 Sempre 100% da largura da tela */
  height: auto;               /* 🔥 Altura proporcional ao tamanho original */
  display: block;
}
